:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Grupo principal */
.custom-search {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #dee2e6;
  transition: all 0.25s ease-in-out;
}

/* Comportamento no foco (todo o grupo muda) */
.custom-search:focus-within {
  border-color: #adb5bd;
  background-color: #f8f9fa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

/* Ícone (lado esquerdo) */
.search-icon {
  background: transparent !important; /* pega a cor do grupo */
  border: none !important;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

/* Input */
.search-input {
  border: none !important;
  box-shadow: none !important;
  transition: all 0.25s ease-in-out;
}

.search-input:focus {
  outline: none;
  background-color: #F8F9FA !important;
  box-shadow: none !important;
}
